/target
.vscode
.DS_Store
benches/boringssl/build
fuzz/corpus
fuzz/artifacts
__pycache__
kyber-crate/
*.llbc

# When using sed
*.bak

# F*
.fstar-cache
.depend
**/proofs/fstar/*/#*#
**/proofs/fstar/*/.#*
hax.fst.config.json
