/target
.vscode
.DS_Store
benches/boringssl/build
proofs/fstar/extraction/.depend
proofs/fstar/extraction/#*#
proofs/fstar/extraction/.#*
fuzz/corpus
fuzz/artifacts
proofs/fstar/extraction/.cache
__pycache__
kyber-crate/
*.llbc

# When using sed
*.bak
