[workspace]
members = ["sys/hacl", "sys/libjade", "sys/platform", "sys/pqclean"]

[workspace.package]
version = "0.0.2"
authors = ["Cryspen"]
license = "Apache-2.0"
homepage = "https://github.com/cryspen/libcrux/"
edition = "2021"

[package]
name = "libcrux"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
documentation = "https://docs.rs/libcrux/"
description = "The Formally Verified Cryptography Library"
readme = "Readme.md"
repository = "https://github.com/cryspen/libcrux"
exclude = ["/tests"]

[lib]
crate-type = ["staticlib", "cdylib", "lib"]

[build-dependencies]
libcrux_platform = { version = "=0.0.2", path = "sys/platform" }

[dependencies]
libcrux_hacl = { version = "=0.0.2", path = "sys/hacl" }
libcrux_platform = { version = "=0.0.2", path = "sys/platform" }
rand = { version = "0.8" }
log = { version = "0.4", optional = true }
# WASM API
wasm-bindgen = { version = "0.2.87", optional = true }

[target.'cfg(all(not(target_os = "windows"), target_arch = "x86_64"))'.dependencies]
libjade_sys = { version = "=0.0.2", path = "sys/libjade" }

[dev-dependencies]
libcrux = { path = ".", features = ["rand"] }
pretty_env_logger = "0.5"
rand = { version = "0.8" }
rand_core = { version = "0.6" }
quickcheck = "1"
quickcheck_macros = "1"
serde_json = { version = "1.0" }
serde = { version = "1.0", features = ["derive"] }
hex = "0.4"

# Benchmarking "RustCrypto"
chacha20poly1305 = "0.10"
sha2 = "0.10"
x25519-dalek-ng = "1.1"
sha3 = "0.10"
# Benchmarking "Ring"
ring = "0.16"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3"

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
criterion = "0.5"
libcrux_pqclean = { version = "*", path = "sys/pqclean" }

# Benchmarking "OpenSSL"
# XXX: We don't do this for Windows or wasm right now.
#      x86 is usally a cross compilation where this won't work either.
[target.'cfg(all(not(windows), not(target_arch = "wasm32"), not(target_arch = "x86")))'.dev-dependencies]
openssl = "0.10"

[[bench]]
name = "sha2"
harness = false

[[bench]]
name = "sha3"
harness = false

[[bench]]
name = "x25519"
harness = false

[[bench]]
name = "aead"
harness = false

[[bench]]
name = "hpke"
harness = false

[[bench]]
name = "drbg"
harness = false

[features]
hacspec = []            # TODO: #7 Use specs instead of efficient implementations
rand = []
wasm = ["wasm-bindgen"]
log = ["dep:log"]
