[package]
name = "libjade-sys"
version = "0.0.1-dev.1"
edition = "2021"
authors = ["Franziskus Kiefer <franziskuskiefer@gmail.com>"]
description = "Rust bindings for libjade, a formally verified cryptographic library written in jasmin."
license = "Apache-2.0"

[dependencies]
log = "0.4"

[build-dependencies]
libc = { version = "0.2", default-features = false }
fs_extra = "1.2"

[target.'cfg(not(windows))'.build-dependencies]
bindgen = "0.64"

[dev-dependencies]
pretty_env_logger = "0.4"
