[package]
name = "libcrux-hacl"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
readme.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
libc = "0.2.148"

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }
libcrux-platform = { version = "=0.0.2-pre.1", path = "../platform" }
bindgen = { version = "0.68", optional = true }

[features]
bindings = ["bindgen"] # generate fresh bindings

[dev-dependencies]
hex = "0.4.3"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3"
