[package]
name = "libcrux-curve25519"
description = "Formally verified curve25519 ECDH library"

version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
edition.workspace = true
repository.workspace = true
readme.workspace = true

[dependencies]
libcrux-hacl-rs = { version = "=0.0.2-beta.3", path = "../hacl-rs/" }
libcrux-macros = { version = "=0.0.2-beta.3", path = "../macros" }
