[package]
name = "libcrux-p256"
description = "Formally verified P-256 implementation"
readme = "Readme.md"

version = "0.0.6"
authors.workspace = true
license.workspace = true
homepage.workspace = true
edition.workspace = true
repository.workspace = true

[dependencies]
libcrux-macros = { version = "=0.0.3", path = "../../utils/macros" }
libcrux-traits.workspace = true
libcrux-hacl-rs = { version = "=0.0.4", path = "../../utils/hacl-rs/" }
libcrux-secrets.workspace = true
libcrux-sha2 = { workspace = true, features = [
    "expose-hacl",
] }

[features]
expose-hacl = []

# Checking secret independence
check-secret-independence = [
    "libcrux-secrets/check-secret-independence",
    "libcrux-traits/check-secret-independence",
]


[dev-dependencies]
libcrux-traits = { workspace = true, features = [
    "generic-tests",
] }
