[package]
name = "hacspec_kyber"
version = "0.1.0"
edition = "2021"

[dependencies]
libcrux = { version = "=0.0.2", path = "../../" }
hacspec-lib = { version = "0.0.1", path = "../hacspec-lib" }

[dev-dependencies]
libcrux-kem = { version = "=0.0.6-pre.2", path = "../../libcrux-kem", features = [
    "tests",
] }
hex = { version = "0.4.3", features = ["serde"] }
pqcrypto-kyber = { version = "0.7.6", default-features = false }
proptest = "1.2.0"
rand = "0.9"
serde = { version = "1.0.171", features = ["derive"] }
serde_json = "1.0.102"
