[package]
name = "libcrux-traits"
description = "Traits for cryptographic algorithms"
version = "0.0.6"

authors.workspace = true
license.workspace = true
homepage.workspace = true
edition.workspace = true
repository.workspace = true
readme = "README.md"

[features]
# core::error::Error is still pretty recent, so we only implement it for our errors behind a feature
error-in-core = []
# enables checking of secret-independence
check-secret-independence = ["libcrux-secrets/check-secret-independence"]
# expose tests that are generic over the traits
generic-tests = []
# whether or not the alloc crate is used
alloc = []

[dependencies]
rand = { version = "0.9", default-features = false }
libcrux-secrets.workspace = true
