[package]
name = "libcrux-psq"
version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
edition.workspace = true
repository.workspace = true
readme.workspace = true

[lib]
path = "src/psq.rs"

[dependencies]
libcrux-kem = { version = "0.0.2-pre.2", path = "../libcrux-kem" }
libcrux-hkdf = { version = "=0.0.2-pre.2", path = "../libcrux-hkdf" }
libcrux-hmac = { version = "=0.0.2-pre.2", path = "../libcrux-hmac" }
classic-mceliece-rust = { version = "2.0.0", features = [
    "mceliece460896f",
    "zeroize",
] }
chrono = "0.4.31"
rand = { version = "0.8" }

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "psq"
harness = false