[package]
name = "libcrux-intrinsics"
version = "0.0.5"
authors.workspace = true
license.workspace = true
homepage.workspace = true
edition.workspace = true
repository.workspace = true
readme.workspace = true
description = "Libcrux intrinsics crate"
exclude = ["/proofs"]

[dependencies]
hax-lib.workspace = true

[target.'cfg(hax)'.dependencies]
core-models = { path = "../core-models", version = "0.0.5" }

[features]
simd128 = []
simd256 = []

[dev-dependencies]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(hax)',
    'cfg(pre_core_models)',
    'cfg(eurydice)',
] }
