[package]
name = "libcrux-secrets"
description = "Libcrux utilities for working with secrets"
version = "0.0.3-alpha.1"

authors.workspace = true
license.workspace = true
homepage.workspace = true
edition.workspace = true
repository.workspace = true
readme.workspace = true
exclude = ["/proofs"]

[dependencies]
hax-lib.workspace = true

[features]
check-secret-independence = []

[dev-dependencies]
criterion = "0.6.0"
[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
  'cfg(hax)',
  'cfg(eurydice)',
  'cfg(doc_cfg)',
] }
